<h1>Transactions for <%= @raw_material.name %></h1>

<%= link_to "Back", raw_materials_path, :class => "back_link" %>

<br/><br/>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Ref. Type</th>
      <th>Ref. Number</th>
      <th>Date</th>
      <th>PO #</th>
      <th>MIRS #</th>
      <th>Items</th>
      <th>Issued To</th>
      <th>Received From</th>
      <th>Comments</th>
      <th>Creator</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td>
        <% if transaction.transaction_type == "add" %>
          <span class="positive">Add</span>
        <% else %>
          <span class="negative">Deduct</span>
        <% end %>
      </td>
      <td><%= transaction.reference_type %></td>
      <td><%= transaction.reference_number %></td>
      <td><%= transaction.transaction_date.strftime("%m/%d/%Y") if transaction.transaction_date %></td>
      <td><%= transaction.po_number %></td>
      <td><%= transaction.mirs_number %></td>
      <td>
        <% transaction.raw_material_transaction_items.each do |item| %>
          <%= item.lot_number %> - <%= item.quantity %><br/>
        <% end %>
      </td>
      <td><%= transaction.issued_department.name if transaction.issued_department %></td>
      <td><%= transaction.sender.name if transaction.sender %></td>
      <td><%= simple_format(transaction.comments) %></td>
      <td><%= transaction.creator.name if transaction.creator %></td>
      <td>
        <%= link_to "Edit", edit_raw_material_transaction_path(transaction), :class => "edit_link" if can?(:update, RawMaterialTransaction) %> &nbsp;&nbsp;
        <%= link_to "Delete", raw_material_transaction_path(transaction), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" if can?(:delete, RawMaterialTransaction) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @transactions %>