<h1>Generate COQ for <%= @finished_good.name %></h1>

<%= form_tag "", :id => "search_form" do %>
  <%= select_tag "lot_number_select", options_for_select(@finished_good.last_coq_lot_number_options, @lot_number) %>
  <%= text_field_tag "lot_number_text", @lot_number %> 
  <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<br class="clear"/><br/>

<% if @generated_coq %>
  <%= render :partial => "form" %>
  
  <table>
    <thead>
      <tr>
        <th>Delivery Date</th>
        <th>Customer</th>
        <th>Start Bag</th>
        <th>End Bag</th>
      </tr>
    </thead>
    <tbody>
    <% @generated_coqs.each do |gcoq| %>
      <tr class="<%= cycle("light", "dark") %>">
        <td><%= gcoq.delivery_date.strftime("%m/%d/%Y") %></td>
        <td><%= gcoq.customer.try(:name) %></td>
        <td><%= gcoq.start_bag %></td>
        <td><%= gcoq.end_bag %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>