<h1>Unit of Measures</h1>

<%= form_tag "", :method => :get, :id => "search_form" do %>
  <%= text_field_tag "search_text", params[:search_text] %> <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<%= link_to "Add Unit of Measure", new_unit_of_measure_path, :class => "create_link" %>

<br class="clear"/><br/>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Creator</th>
      <th>Updater</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @unit_of_measures.each do |unit_of_measure| %>  
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= unit_of_measure.code %></td>
      <td><%= simple_format(unit_of_measure.description) %></td>
      <td><%= unit_of_measure.creator.name if unit_of_measure.creator %></td>
      <td><%= unit_of_measure.updater.name if unit_of_measure.updater %></td>
      <td>
        <%= link_to "Edit", edit_unit_of_measure_path(unit_of_measure), :class => "edit_link" %> &nbsp;&nbsp;
        <%= link_to "Delete", unit_of_measure_path(unit_of_measure), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @unit_of_measures %>