<h1>New Unit of Measure</h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @unit_of_measure} %>

<%= form_for @unit_of_measure do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p class="buttons">
    <%= submit_tag "Submit" %>
    <%= button_to_function "Reset", "$('#new_unit_of_measure')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{unit_of_measures_path}')" %>
  </p>
<% end %>