<h1>Update <%= @truck.plate_number %></h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @truck} %>

<%= form_for @truck do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p class="buttons">
    <%= submit_tag "Save" %>
    <%= button_to_function "Reset", "$(this).closest('form')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{trucks_path}')" %>
  </p>
<% end %>