<tr>
  <% if !@delivery_schedule.new_record? %>
    <td><%= f.check_box :_destroy %></td>
  <% end %>
  <td>
    <% if f.object.finished_good_transactions.empty?%>
      <%= f.select :customer_id, [["", ""]] + Customer.fg_customers.collect{|c| [c.name, c.id]} %>
    <% else %>
      <%= f.object.customer.name %>
    <% end %>
  </td>
  <td><%= f.text_field :po, :readonly => !f.object.finished_good_transactions.empty? %></td>
  <td><%= f.text_field :so, :readonly => !f.object.finished_good_transactions.empty? %></td>
  <td>
    <% if f.object.finished_good_transactions.empty? %>
      <%= f.select :item_type, [["", ""], ["Finished Good", "FinishedGood"], ["Raw Material", "RawMaterial"], ["Supply", "Supply"]], {}, :onchange => "update_item_selection(#{index})" %>
      <%= loader("item_loader_#{index}") %>
    <% else %>
      <%= f.object.item_type.titleize %>
    <% end %>
  </td>
  <td id="item_<%= index %>">
    <% if f.object.finished_good_transactions.empty? %>
      <%= f.select :item_id, item_options(f.object.item_type) %>
    <% else %>
      <%= f.object.item.name %>
    <% end %>
  </td>
  <td><%= f.text_field :quantity, :size => 10, :class => "item_quantity", :readonly => !f.object.finished_good_transactions.empty?  %></td>
</tr>
