<fieldset>
  <% if @delivery_schedule.new_record? %>
    <dl>
      <dd><%= f.label :control_number %></dd>
      <dd><%= @delivery_schedule.next_control_number %></dd>
    </dl>
  <% end %>
  
  <dl>
    <dd><%= f.label :delivery_date %></dd>
    <dd><%= f.text_field :delivery_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd><%= f.label :delivery_time_option %></dd>
    <dd><%= f.select :delivery_time_option, time_options %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :truck_id, "Truck" %></dd>
    <dd><%= f.select :truck_id, [["", ""]] + Truck.where("active = 1").collect{|t| [t.plate_number, t.id]} %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :driver_id, "Driver" %></dd>
    <dd><%= f.select :driver_id, [["", ""]] + Position.find_by_name("Driver").personnels.where("active = 1").collect{|p| [p.name, p.id]} %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :delivery_helper_1_id, "Delivery Helper 1" %></dd>
    <dd><%= f.select :delivery_helper_1_id, [["", ""]] + Personnel.where("active = 1").collect{|p| [p.name, p.id]} %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :delivery_helper_2_id, "Delivery Helper 2" %></dd>
    <dd><%= f.select :delivery_helper_2_id, [["", ""]] + Personnel.where("active = 1").collect{|p| [p.name, p.id]} %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <% if !@delivery_schedule.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Customer</th> 
              <th>PO</th>
              <th>SO</th> 
              <th>Item Type</th>
              <th>Item</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @delivery_schedule.delivery_schedule_items.each_with_index do |item, index| %>
              <%= f.fields_for :delivery_schedule_items, item do |builder| %>
                <%= render "delivery_schedule_item", :f => builder, :index => index %>
              <% end %>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="quantity_sum"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
</fieldset>

<%= javascript_tag do %>
function update_quantity() {
  var sum = 0;
  $('.item_quantity').each(function() {
    if($(this).val() != "") {
      sum += parseFloat($(this).val());
    }
  });
  $('#quantity_sum').html(sum);
}

function update_item_selection(index) {
  $.ajax({
    type: 'POST',
    url: '<%= update_item_selection_delivery_schedules_path %>',
    data: 'item_type=' + $('#delivery_schedule_delivery_schedule_items_attributes_' + index + '_item_type').val() + '&index=' + index,
    beforeSend: function(request){$('#loader_' + index).show();},
    complete: function(request){$('#loader_' + index).hide()}
  });
}

$(document).ready(function() {
  update_quantity();
  
  $('.item_quantity').keyup(function(){
    update_quantity();
  });
  
  $('.item_quantity').keydown(function(){
    update_quantity();
  })
});
<% end %>