<h1>New COQ Property</h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @coq_property} %>

<%= form_for @coq_property do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p class="buttons">
    <%= submit_tag "Save" %>
    <%= button_to_function "Reset", "$('#new_coq_property')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{coq_properties_path}')" %>
  </p>
<% end %>