<h1>New Issued Formula</h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @issued_formula} %>

<%= form_for @issued_formula do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p class="buttons">
    <%= submit_tag "Save" %>
    <%= button_to_function "Reset", "$('#new_issued_formula')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{issued_formulas_path}')" %>
  </p>
<% end %>

<script type="text/javascript">
  Date.format = 'yyyy-mm-dd';
  $('#issued_formula_issuance_date').datePicker({clickInput:true, startDate:'<%= Date.today("%Y-%m-%d") %>'});
</script>
