<h1><%= @issued_formula.control_number %></h1>

<%= link_to "Back", issued_formulas_path, :class => "back_link" %>

<dl>
  <dd><%= label_tag "Issuance Date", nil, :class => "bold_label" %></dd>
  <dd><%= @issued_formula.issuance_date.strftime("%m/%d/%Y") %></dd>
</dl>

<dl>
  <dd><%= label_tag "Finished Good", nil, :class => "bold_label" %></dd>
  <dd><%= @issued_formula.finished_good.name %></dd>
</dl>

<dl>
  <dd><%= label_tag "Formula Type", nil, :class => "bold_label" %></dd>
  <dd><%= @issued_formula.formula.formula_type %></dd>
</dl>

<dl>
  <dd><%= label_tag "Comments", nil, :class => "bold_label" %></dd>
  <dd><%= simple_format(@issued_formula.comments) %></dd>
</dl>

<h1>Items</h1>

<%= render(:partial => "issued_items", :locals => {:items => @issued_formula.formula.formula_items, :resin_big_batch_number => @issued_formula.big_batch_total, :resin_small_batch_number => @issued_formula.small_batch_total}) %>

<h1>Batches</h1>

<%= link_to "Add Batch", new_issued_formula_batch_path(:issued_formula_id => @issued_formula), :class => "create_link" if can?(:create, IssuedFormula) %>

<%= render(:partial => "batches", :locals => {:batches => @issued_formula.issued_formula_batches}) %>