<h1>Departments</h1>

<%= form_tag "", :method => :get, :id => "search_form" do %>
  <%= text_field_tag "search_text", params[:search_text] %> <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<%= link_to "Add Department", new_department_path, :class => "create_link" if can?(:create, Department) %>

<br class="clear"/><br/>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Active</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @departments.each do |department| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= department.code %></td>
      <td><%= department.name %></td>
      <td><%= department.active ? "Yes" : "No" %></td>
      <td>
        <%= link_to "Edit", edit_department_path(department), :class => "edit_link" if can?(:update, Department) %> &nbsp;&nbsp;
        <%= link_to "Delete", department_path(department), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" if can?(:delete,Department) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @departments %>