<h1>Return Bags</h1>

<%= link_to "Back", finished_goods_path, :class => "back_link" %>

<br/><br/>

<%= form_tag return_bags_path do %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Bag #</th>
        <th>Lot Number</th>
        <th>Quantity</th>
        <th>Finished Good</th>
      </tr>
    </thead>
    <tbody>
    <% @bags.each do |bag| %>  
      <tr class="<%= cycle("light", "dark") %>">
        <td><%= check_box_tag "bag_ids[]", bag.id %></td>
        <td><%= bag.bag_number %></td>
        <td><%= bag.removing_transaction.lot_number %></td>
        <td><%= bag.quantity %></td>
        <td><%= bag.finished_good.name if bag.finished_good %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= submit_tag "Return" %>
<% end %>

<%= will_paginate @bags %>