<h1>Customers</h1>

<%= form_tag "", :method => :get, :id => "search_form" do %>
  <%= text_field_tag "search_text", session[:customer_search_text] %> <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<%= link_to "Add Customer", new_customer_path, :class => "create_link" if can?(:create, Customer) %>

<br class="clear"/><br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>  
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= customer.name %></td>
      <td><%= customer.active ? "Yes" : "No" %></td>
      <td>
        <%= link_to "Edit", edit_customer_path(customer), :class => "edit_link" if can?(:update, Customer) %> &nbsp;&nbsp;
        <%= link_to "Delete", customer_path(customer), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" if can?(:delete, Customer) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @customers %>