<h1>New Customer</h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @customer} %>

<%= form_for @customer do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p class="buttons">
    <%= submit_tag "Submit" %>
    <%= button_to_function "Reset", "$('#new_customer')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{customers_path}')" %>
  </p>
<% end %>