<h1>Supplies</h1>

<%= form_tag "", :method => :get, :id => "search_form" do %>
  <%= text_field_tag "search_text", session[:supply_name] %> 
  <%= select_tag "type_text", options_for_select([""] + supply_type_options, session[:supply_type]) %>
  <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<%= link_to "Add Supply", new_supply_path, :class => "create_link" if can?(:create, Supply) %>
<%= link_to "Add", new_supply_transaction_path(:transaction_type => "add"), :class => "create_link" if can?(:create, SupplyTransaction) %>
<%= link_to "Deduct", new_supply_transaction_path(:transaction_type => "sub"), :class => "delete_link" if can?(:create, SupplyTransaction) %>

<br class="clear"/><br/>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>UOM</th>
      <th>Quantity</th>
      <th>Last Transaction</th>
      <th>Comments</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @supplies.each do |supply| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= supply.supply_type %></td>
      <td><%= supply.name %></td>
      <td><%= supply.unit_of_measure.name %></td>
      <td><%= supply.quantity_on_hand %></td>
      <td><%= supply.last_transaction_date.strftime("%m/%d/%Y") if supply.last_transaction_date %></td>
      <td><%= simple_format(supply.comments) %></td>
      <td>
        <%= link_to "Edit", edit_supply_path(supply), :class => "edit_link" if can?(:update, Supply) %> &nbsp;&nbsp;
        <%= link_to "Delete", supply_path(supply), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" if can?(:delete, Supply) %> <br/>
        <%= link_to "History", transactions_supply_path(supply), :class => "history_link" if can?(:transactions, Supply) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @supplies %>