<h1>Transactions for <%= @supply.name %></h1>

<%= link_to "Back", supplies_path, :class => "back_link" %>

<br/><br/>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Supplier</th>
      <th>Reference Type
      <th>Reference #</th>
      <th>PRE #</th>
      <th>MIRS #</th>
      <th>Issued To Department</th>
      <th>Issued To User</th>
      <th>Comments</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td>
        <% if transaction.supply_transaction.transaction_type == "add" %>
          <span class="positive">Add</span>
        <% else %>
          <span class="negative">Deduct</span>
        <% end %>
      </td>
      <td><%= transaction.supply_transaction.transaction_date.strftime("%m/%d/%Y") if transaction.supply_transaction.transaction_date %></td>
      <td><%= transaction.quantity %></td>
      <td><%= transaction.unit_price %></td>
      <td><%= transaction.supply_transaction.supplier_name %></td>
      <td><%= transaction.supply_transaction.reference_type %></td>
      <td><%= transaction.supply_transaction.rr_number %></td>
      <td><%= transaction.supply_transaction.pre_number %></td>
      <td><%= transaction.supply_transaction.mirs_number %></td>
      <td><%= transaction.supply_transaction.issued_department.name if transaction.supply_transaction.issued_department %></td>
      <td><%= transaction.supply_transaction.issued_user.name if transaction.supply_transaction.issued_user %></td>
      <td><%= simple_format(transaction.supply_transaction.comments) %></td>
      <td>
        <%= link_to "Edit", edit_supply_transaction_path(transaction.supply_transaction), :class => "edit_link" if can?(:update, SupplyTransaction) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @transactions %>