<fieldset>
  <dl>
    <dd><%= f.label :reference_type %></dd>
    <dd><%= f.select :reference_type, [["RR", "RR"], ["TOS", "TOS"]], {}, {:onchange => "update_sender()"} %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :reference_number %></dd>
    <dd><%= f.text_field :reference_number %></dd>
  </dl>
  
  <dl>
    <dd>
      <%= f.label :sender, "Received From" %>
      <%= loader %>
    </dd>
    <dd id="sender_select"></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= f.text_field :transaction_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd><%= f.label :po_number %></dd>
    <dd><%= f.text_field :po_number %></dd>
  </dl>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <% if !@raw_material_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Lot Number</th> 
              <th>Quantity Received</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :raw_material_transaction_items do |builder| %>
              <%= render "add_item_form", :f => builder %>
            <% end %>
            <tr>
              <% if !@raw_material_transaction.new_record? %>
                <td></td>
              <% end %>
              <td style="text-align:right">Total</td>
              <td id="total_quantity"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
</fieldset>

<%= javascript_tag :defer => "defer" do %>
  function update_total() {
    sum = 0;
    $('.quantity_text').each(function() {
        sum += Number($(this).val());
    });
    $('#total_quantity').html(sum);
  }
  
  $('.quantity_text').change(function() {
    update_total();
  });
  
  function update_sender() {
    $.ajax({
      type: 'POST',
      url: '<%= update_sender_raw_material_transactions_path %>',
      data: 'reference_type=' + $('#raw_material_transaction_reference_type').val() + '&sender_id=<%= @raw_material_transaction.sender_id %>&raw_material_id=<%= @raw_material.id %>',
      beforeSend: function(request){$('#loader').show();},
      complete: function(request){$('#loader').hide()}
    });
  }

  $(document).ready(function() {
    update_sender();
    update_total();
  });

<% end %>