<fieldset>
  <dl>
    <dd><%= f.label :mirs_number %></dd>
    <dd><%= f.text_field :mirs_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= f.text_field :transaction_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd><%= f.label :issued_department, "Issued To" %></dd>
    <dd><%= f.select :issued_department_id, Department.all.collect{|d| [d.name, d.id]}, {:include_blank => true} %></dd>
  </dl>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <th>Delete?</th>
              <th>Lot Number</th> 
              <th>Quantity Issued</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :raw_material_transaction_items do |builder| %>
              <%= render "item_form", :f => builder %>
            <% end %>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
</fieldset>