<fieldset>
  <dl>
    <dd><%= f.label :mirs_number, "MIRS #" %></dd>
    <dd><%= f.text_field :mirs_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= f.text_field :transaction_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd><%= f.label :issued_department, "Issued To" %></dd>
    <dd><%= f.select :issued_department_id, Department.active_departments.collect{|d| [d.name, d.id]}, {:include_blank => true} %></dd>
  </dl>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <% if !@raw_material_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Lot Number</th> 
              <th>Quantity Issued</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :raw_material_transaction_items do |builder| %>
              <%= render "sub_item_form", :f => builder %>
            <% end %>
            <tr>
              <% if !@raw_material_transaction.new_record? %>
                <td></td>
              <% end %>
              <td style="text-align:right">Total</td>
              <td id="total_quantity"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
</fieldset>

<%= javascript_tag :defer => "defer" do %>
  function update_total() {
    sum = 0;
    $('.quantity_text').each(function() {
        sum += Number($(this).val());
    });
    $('#total_quantity').html(sum);
  }
  
  $('.quantity_text').change(function() {
    update_total();
  });
  
  $(document).ready(function() {
    update_total();
  });
<% end %>