<h1>Edit Transaction for <%= @raw_material.name %></h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @raw_material_transaction} %>

<%= form_for @raw_material_transaction do |f| %>
  <% if @raw_material_transaction.transaction_type == "add" %>
    <%= render :partial => "add_form", :locals =>{:f => f} %>
  <% else %>
    <%= render :partial => "sub_form", :locals =>{:f => f} %>
  <% end %>
  
  <p class="buttons">
    <%= submit_tag "Save" %>
    <%= button_to_function "Reset", "$(this).closest('form')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{raw_materials_path}')" %>
  </p>
<% end %>

<script type="text/javascript">
  Date.format = 'yyyy-mm-dd';
  $('#raw_material_transaction_transaction_date').datePicker({clickInput:true, startDate:'2000-01-01'});
</script>
