<h1>Update <%= @raw_material_type.name %></h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @raw_material_type} %>

<%= form_for @raw_material_type do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p class="buttons">
    <%= submit_tag "Save" %>
    <%= button_to_function "Reset", "$(this).closest('form')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{raw_material_types_path}')" %>
  </p>
<% end %>