<h1>Raw Material Types</h1>

<%= form_tag "", :method => :get, :id => "search_form" do %>
  <%= text_field_tag "search_text", params[:search_text] %> <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<%= link_to "Add Raw Material Type", new_raw_material_type_path, :class => "create_link" %>

<br class="clear"/><br/>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @raw_material_types.each do |raw_material_type| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= raw_material_type.code %></td>
      <td><%= raw_material_type.description %></td>
      <td>
        <%= link_to "Edit", edit_raw_material_type_path(raw_material_type), :class => "edit_link" %> &nbsp;&nbsp;
        <%= link_to "Delete", raw_material_type_path(raw_material_type), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @raw_material_types %>