<h1>New Costing Period</h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @costing_period} %>

<%= form_for @costing_period do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p class="buttons">
    <%= submit_tag "Save" %>
    <%= button_to_function "Reset", "$('#new_costing_period')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{costing_periods_path}')" %>
  </p>
<% end %>