<h1>Update <%= @mixer.name %></h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @mixer} %>

<%= form_for @mixer do |f| %>
  <%= render :partial => "form", :locals =>{:f => f} %>
  
  <p class="buttons">
    <%= submit_tag "Save" %>
    <%= button_to_function "Reset", "$(this).closest('form')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{mixers_path}')" %>
  </p>
<% end %>