<tr>
  <% if !@finished_good_transaction.new_record? %>
    <td><%= f.check_box :_destroy %></td>
  <% end %>
  <td>
    <% if !f.object.underpack %>
      <%= f.text_field :lot_number %>
    <% else %>
      Underpack(Bag #0)
    <% end %>
    <%= f.hidden_field :transaction_type %>
  </td>
  <td>
    <% if !f.object.underpack %>
      <%= f.text_field :start_bag_number %>
    <% end %>
  </td>
  <td>
    <% if !f.object.underpack %>
      <%= f.text_field :end_bag_number %>
    <% end %>
  </td>
  <td>
    <% if f.object.underpack %>
      <%= f.text_field :quantity %>
    <% end %>
    <%= f.hidden_field :underpack %>
  </td>
</tr>
