<fieldset>
  <dl>
    <dd><%= f.label :reference_type %></dd>
    <dd><%= f.select :reference_type, [["TOS", "TOS"], ["RR", "RR"]], {}, {:onchange => "update_sender()"} %></dd>
  </dl>
  
  <dl>
    <dd>
      <%= f.label :sender, "Received From" %>
      <%= loader %>
    </dd>
    <dd id="sender_select"></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :reference_number %></dd>
    <dd><%= f.text_field :reference_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= f.text_field :transaction_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd><%= f.label :quantity_per_bag %></dd>
    <dd><%= f.select :quantity_per_bag, quantity_per_bag_options, {:include_blank => true} %></dd>
  </dl>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <% if !@finished_good_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Lot #</th> 
              <th>Fr Bag</th>
              <th>To Bag</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :finished_good_transaction_items do |builder| %>
              <%= render "add_item_form", :f => builder %>
            <% end %>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
</fieldset>

<%= javascript_tag :defer => "defer" do %>
  function update_sender() {
    $.ajax({
      type: 'POST',
      url: '<%= update_sender_finished_good_transactions_path %>',
      data: 'reference_type=' + $('#finished_good_transaction_reference_type').val() + '&sender_id=<%= @finished_good_transaction.sender_id %>',
      beforeSend: function(request){$('#loader').show();},
      complete: function(request){$('#loader').hide()}
    });
  }

  $(document).ready(function() {
    update_sender();
  });

<% end %>
