<fieldset>
  <dl>
    <dd><%= f.label :reference_number %></dd>
    <dd><%= f.text_field :reference_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= f.text_field :transaction_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= f.text_field :transaction_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <% if !@finished_good_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Lot #</th> 
              <th>Fr Bag</th>
              <th>To Bag</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :finished_good_transaction_items do |builder| %>
              <%= render "return_item_form", :f => builder %>
            <% end %>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
</fieldset>