<fieldset>
  <dl>
    <dd>
      <table>
        <thead>
          <tr>
            <th>Ctrl No.</th>
            <th>Delivery Date</th> 
            <th>Deivery Time</th>
            <th>Truck</th>
            <th>Customer</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @finished_good.valid_delivery_schedules.each do |d| %>
           <% ds = d.delivery_schedule %>
            <tr>
              <td><%= ds.control_number %></td>
              <td><%= ds.delivery_date.strftime('%m/%d/%Y') %></td>
              <td><%= ds.delivery_time.strftime('%H:%M') %></td>
              <td><%= ds.truck.plate_number %></td>
              <td><%= d.customer.name %></td>
              <td><%= d.quantity%></td>
              <td><%= link_to_function "Select", "populate_from_delivery_schedule_item(#{d.id})" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :issue_type %></dd>
    <dd><%= f.select :issue_type, [["Customer", "Customer"], ["Internal", "Internal"]], {}, {:onchange => "update_issued()"} %></dd>
  </dl>
  
  <dl>
    <dd>
      <%= f.label :issued_to, "Issued To" %>
      <%= loader("issued_loader") %>
    </dd>
    <dd id="sender_select"></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :dr_number, "DR Number" %></dd>
    <dd><%= f.text_field :dr_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :si_number, "SI Number" %></dd>
    <dd><%= f.text_field :si_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :mirs_number, "MIRS Number" %></dd>
    <dd><%= f.text_field :mirs_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= f.text_field :transaction_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <% if !@finished_good_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Lot #</th> 
              <th>Fr Bag</th>
              <th>To Bag</th>
            </tr>
          </thead>
          <tbody>
            <% @finished_good_transaction.finished_good_transaction_items.select{|i| !i.underpack}.each_with_index do |item, index| %>
              <%= f.fields_for :finished_good_transaction_items, item do |builder| %>
                <%= render "sub_item_form", :f => builder, :index => index %>
              <% end %>
            <% end %>
          </tbody>
        </table>
        
        <h2>Underpack</h2>
        
        <table>
          <thead>
            <tr>
              <% if !@finished_good_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Lot #</th> 
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @finished_good_transaction.finished_good_transaction_items.select{|i| i.underpack}.each_with_index do |item, index| %>
              <%= f.fields_for :finished_good_transaction_items, item do |builder| %>
                <%= render "sub_item_form", :f => builder %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
  
  <!--
  <dl>
    <dd><%# f.label :removed_bags, "Bags" %></dd>
    <dd id="bag_selection"></dd>
  </dl>
  -->
</fieldset>

<%= javascript_tag :defer => "defer" do %>
  function update_bags() {
    $.ajax({
      type: 'POST',
      url: '<%= update_bags_finished_good_transactions_path %>',
      data: 'lot_number=' + $('#finished_good_transaction_lot_number').val() + '&finished_good_id=<%= @finished_good.id %>',
      beforeSend: function(request){$('#loader').show();},
      complete: function(request){$('#loader').hide()}
    });
  }
  
  function update_issued() {
    $.ajax({
      type: 'POST',
      url: '<%= update_issued_finished_good_transactions_path %>',
      data: 'issue_type=' + $('#finished_good_transaction_issue_type').val() + '&issued_to_id=<%= @finished_good_transaction.issued_to_id %>&finished_good_id=<%= @finished_good.id %>',
      beforeSend: function(request){$('#issued_loader').show();},
      complete: function(request){$('#issued_loader').hide()}
    });
  }
  
  function update_underpack(index) {
    $.ajax({
      type: 'POST',
      url: '<%= update_underpack_finished_good_transactions_path %>',
      data: 'index=' + index + '&lot_number=' + $('#finished_good_transaction_finished_good_transaction_items_attributes_' + index + '_lot_number').val() + '&finished_good_id=<%= @finished_good.id %>',
      beforeSend: function(request){$('#issued_loader').show();},
      complete: function(request){$('#issued_loader').hide()}
    });
  }
  
  function populate_from_delivery_schedule_item(item_id) {
    $.ajax({
      type: 'POST',
      url: '<%= populate_fields_from_delivery_schedule_items_finished_good_path(@finished_good) %>',
      data: 'delivery_schedule_item_id=' + item_id,
      beforeSend: function(request){$('#loader').show();},
      complete: function(request){$('#loader').hide()}
    });
  }

  $(document).ready(function() {
    // update_bags();
    update_issued();
  });

<% end %>
