<fieldset>
  <% if @finished_good_transaction.new_record? || @finished_good_transaction.delivery_schedule_item.blank? %>
    <dl>
      <dd>
        <table>
          <thead>
            <tr>
              <th>Ctrl No.</th>
              <th>Delivery Date</th> 
              <th>Delivery Time</th>
              <th>Truck</th>
              <th>Customer</th>
              <th>Quantity</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <% @finished_good.valid_delivery_schedules.each do |d| %>
              <% ds = d.delivery_schedule %>
              <tr>
                <td><%= ds.control_number %></td>
                <td><%= ds.delivery_date.strftime('%m/%d/%Y') %></td>
                <td><%= ds.delivery_time.strftime('%H:%M') %></td>
                <td><%= ds.truck.plate_number %></td>
                <td><%= d.customer.name %></td>
                <td><%= d.quantity%></td>
                <td><%= link_to_function "Select", "populate_from_delivery_schedule_item(#{d.id})" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </dd>
    </dl>
  <% end %>
  
  <%= hidden_field_tag "delivery_schedule_item_id" %>
  
  <% if @finished_good_transaction.new_record? || @finished_good_transaction.delivery_schedule_item.blank? %>
    <dl>
      <dd><%= f.label :issue_type %></dd>
      <dd><%= f.select :issue_type, [["Customer", "Customer"], ["Internal", "Internal"]], {}, {:onchange => "update_issued()", :class => "customer_field"} %></dd>
    </dl>
    
    <dl>
      <dd>
        <%= f.label :issued_to, "Issued To" %>
        <%= loader("issued_loader") %>
      </dd>
      <dd id="sender_select"></dd>
    </dl>
  <% else %>
    <dl>
      <dd>
        <%= f.label :issued_to, "Issued To" %>
        <%= loader("issued_loader") %>
      </dd>
      <dd id="sender_select"><%= @finished_good_transaction.issued_to.try(:name) %></dd>
    </dl>
  <% end %>
  
  <dl>
    <dd><%= f.label :dr_number, "DR Number" %></dd>
    <dd><%= f.text_field :dr_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :si_number, "SI Number" %></dd>
    <dd><%= f.text_field :si_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :mirs_number, "MIRS Number" %></dd>
    <dd><%= f.text_field :mirs_number %></dd>
  </dl>
  
  <% if @finished_good_transaction.new_record? || @finished_good_transaction.delivery_schedule_item.blank? %>
    <dl>
      <dd><%= f.label :transaction_date %></dd>
      <dd><%= f.text_field :transaction_date, :class => "customer_field" %></dd>
    </dl>
  <% else %>
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= @finished_good_transaction.transaction_date.strftime("%m/%d/%Y") %></dd>
  </dl>
  <% end %>
  
  <br class="clear"/>
  
  <dl>
    <dd><%= f.label :quantity_per_bag %></dd>
    <dd><%= f.select :quantity_per_bag, quantity_per_bag_options, {:include_blank => true} %></dd>
  </dl>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <% if !@finished_good_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Lot #</th> 
              <th>Fr Bag</th>
              <th>To Bag</th>
            </tr>
          </thead>
          <tbody>
            <% @finished_good_transaction.finished_good_transaction_items.select{|i| !i.underpack}.each_with_index do |item, index| %>
              <%= f.fields_for :finished_good_transaction_items, item do |builder| %>
                <%= render "sub_item_form", :f => builder, :index => index %>
              <% end %>
            <% end %>
            
            <tr>
              <% if !@finished_good_transaction.new_record? %>
                <td><%= f.check_box :_destroy %></td>
              <% end %>
              <td></td>
              <td></td>
              <td id="bag_quantity_sum"></td>
            </tr>
          </tbody>
        </table>
        
        <h2>Underpack</h2>
        
        <table>
          <thead>
            <tr>
              <% if !@finished_good_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Lot #</th> 
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% @finished_good_transaction.finished_good_transaction_items.select{|i| i.underpack}.each_with_index do |item, index| %>
              <%= f.fields_for :finished_good_transaction_items, item do |builder| %>
                <%= render "sub_item_form", :f => builder %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
  
  <!--
  <dl>
    <dd><%# f.label :removed_bags, "Bags" %></dd>
    <dd id="bag_selection"></dd>
  </dl>
  -->
</fieldset>

<%= javascript_tag :defer => "defer" do %>
  function update_bags() {
    $.ajax({
      type: 'POST',
      url: '<%= update_bags_finished_good_transactions_path %>',
      data: 'lot_number=' + $('#finished_good_transaction_lot_number').val() + '&finished_good_id=<%= @finished_good.id %>',
      beforeSend: function(request){$('#loader').show();},
      complete: function(request){$('#loader').hide()}
    });
  }
  
  function update_issued() {
    $.ajax({
      type: 'POST',
      url: '<%= update_issued_finished_good_transactions_path %>',
      data: 'issue_type=' + $('#finished_good_transaction_issue_type').val() + '&issued_to_id=<%= @finished_good_transaction.issued_to_id %>&finished_good_id=<%= @finished_good.id %>',
      beforeSend: function(request){$('#issued_loader').show();},
      complete: function(request){$('#issued_loader').hide()}
    });
  }
  
  function update_underpack(index) {
    $.ajax({
      type: 'POST',
      url: '<%= update_underpack_finished_good_transactions_path %>',
      data: 'index=' + index + '&lot_number=' + $('#finished_good_transaction_finished_good_transaction_items_attributes_' + index + '_lot_number').val() + '&finished_good_id=<%= @finished_good.id %>',
      beforeSend: function(request){$('#issued_loader').show();},
      complete: function(request){$('#issued_loader').hide()}
    });
  }
  
  function populate_from_delivery_schedule_item(item_id) {
    $.ajax({
      type: 'POST',
      url: '<%= populate_fields_from_delivery_schedule_items_finished_good_path(@finished_good) %>',
      data: 'delivery_schedule_item_id=' + item_id,
      beforeSend: function(request){$('#loader').show();},
      complete: function(request){$('#loader').hide()}
    });
  }
  
  $('.customer_field').change(function(){
    $('#delivery_schedule_item_id').val('')
  })
  
  function update_bag_quantity_sum() {
    sum = 0
    for(var i = 0; i < 3; i++) {
      end = parseFloat($('#finished_good_transaction_finished_good_transaction_items_attributes_' + i + '_end_bag_number').val());
      start = parseFloat($('#finished_good_transaction_finished_good_transaction_items_attributes_' + i + '_start_bag_number').val());
      s =  (end - start) + 1;
      
      if(isNaN(s) == false) {
        sum += parseFloat($('#finished_good_transaction_quantity_per_bag').val()) * s;
      }
    }
    $('#bag_quantity_sum').html(sum);
  }

  $(document).ready(function() {
    // update_bags();
    <% if @finished_good_transaction.new_record? || @finished_good_transaction.delivery_schedule_item.blank? %>
      update_issued();
    <% end %>
    $('.bag_number').keyup(function(){ update_bag_quantity_sum(); })
    $('.bag_number').keydown(function(){ update_bag_quantity_sum(); })
    $('#finished_good_transaction_quantity_per_bag').change(function(){ update_bag_quantity_sum(); })
  });

<% end %>
