<tr>
  <% if !@finished_good_transaction.new_record? %>
    <td><%= f.check_box :_destroy %></td>
  <% end %>
  <td>
    <%= f.select :lot_number, lot_number_fg_options(@finished_good, true), {:include_blank => true} %>
    <%= f.hidden_field :transaction_type %>
  </td>
  <td>
    <%= f.text_field :start_bag_number %>
  </td>
  <td>
    <%= f.text_field :end_bag_number %>
  </td>
</tr>
