<tr>
  <% if !@finished_good_transaction.new_record? %>
    <td><%= f.check_box :_destroy %></td>
  <% end %>
  <td>
    <% if f.object.underpack %>
      <%= f.select :lot_number, lot_number_underpack_options(@finished_good), {:include_blank => true} %>
    <% else %>
      <%= f.select :lot_number, lot_number_fg_options(@finished_good), {:include_blank => true} %>
    <% end %>
    <%= f.hidden_field :transaction_type %>
    <%= f.hidden_field :underpack %>
  </td>
  <% if f.object.underpack %>
    <td>
      <%= f.text_field :quantity %>
    </td>
  <% else %>
    <td>
      <%= f.text_field :start_bag_number, :class => "bag_number" %>
    </td>
    <td>
      <%= f.text_field :end_bag_number, :class => "bag_number" %>
    </td>
  <% end %>
</tr>
