<h1>Edit Transaction for <%= @finished_good.name %></h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @finished_good_transaction} %>

<%= form_for @finished_good_transaction do |f| %>
  <% if @finished_good_transaction.transaction_type == "add" %>
    <%= render :partial => "add_form", :locals =>{:f => f} %>
  <% else %>
    <%= render :partial => "sub_form", :locals =>{:f => f} %>
  <% end %>
  
  <p><%= submit_tag "Submit" %></p>
<% end %>

<script type="text/javascript">
  Date.format = 'yyyy-mm-dd';
  $('#finished_good_transaction_transaction_date').datePicker({clickInput:true, startDate:'01/01/2000'});
</script>
