<h1>Extruders</h1>

<%= form_tag "", :method => :get, :id => "search_form" do %>
  <%= text_field_tag "search_text", session[:search][:extruder_search_text] %> <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<%= link_to "Add Extruder", new_extruder_path, :class => "create_link" if can?(:create, Extruder) %>

<br class="clear"/><br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Active</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @extruders.each do |extruder| %>  
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= extruder.name %></td>
      <td><%= extruder.brand %></td>
      <td><%= extruder.active ? "Yes" : "No" %></td>
      <td>
        <%= link_to "Edit", edit_extruder_path(extruder), :class => "edit_link" if can?(:update, Extruder) %> &nbsp;&nbsp;
        <%= link_to "Delete", extruder_path(extruder), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" if can?(:delete, Extruder) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @extruders %>