<h1>Finished Goods</h1>

<%= form_tag "", :method => :get, :id => "search_form" do %>
  <%= text_field_tag "search_text", session[:finished_good_search_text] %> <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<%= link_to "Add Finished Good", new_finished_good_path, :class => "create_link" if can?(:create, FinishedGood) %>

<%# link_to "Return Bags", return_bags_path, :class => "return_bag_link" if can?(:return, Bag) %>

<br class="clear"/><br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>UOM</th>
      <th>Customer</th>
      <th>Quantity</th>
      <th>Last Transaction</th>
      <th>Classification</th>
      <th>Comments</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @finished_goods.each do |finished_good| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= finished_good.name %></td>
      <td><%= finished_good.unit_of_measure.name %></td>
      <td><%= finished_good.customer.name %></td>
      <td><%= finished_good.quantity_on_hand %></td>
      <td><%= finished_good.last_transaction_date.strftime("%m/%d/%Y") if finished_good.last_transaction_date %></td>
      <td><%= finished_good.classification %></td>
      <td><%= simple_format(finished_good.comments) %></td>
      <td>
        <%= link_to "Edit", edit_finished_good_path(finished_good), :class => "edit_link" if can?(:update, FinishedGood) %> &nbsp;&nbsp;
        <%= link_to "Delete", finished_good_path(finished_good), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" if can?(:delete, FinishedGood) %> <br/>
        
        <%= link_to "Add", new_finished_good_transaction_path(:finished_good_id => finished_good, :transaction_type => "add"), :class => "create_link" if can?(:create, FinishedGoodTransaction) %> &nbsp;&nbsp;
        <%= link_to "Deduct", new_finished_good_transaction_path(:finished_good_id => finished_good, :transaction_type => "sub"), :class => "delete_link" if can?(:create, FinishedGoodTransaction) %> &nbsp;&nbsp;
        <%= link_to "Return", new_finished_good_transaction_path(:finished_good_id => finished_good, :transaction_type => "return"), :class => "return_bag_link" if can?(:return, Bag) %> &nbsp;&nbsp;
        
        <%= link_to "History", transactions_finished_good_path(finished_good), :class => "history_link" if can?(:transactions, FinishedGood) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @finished_goods %>