<h1>Transactions for <%= @finished_good.name %></h1>

<%= link_to "Back", finished_goods_path, :class => "back_link" %>

<br/><br/>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Ref. Type</th>
      <th>Ref. Number</th>
      <th>Date</th>
      <th>DR #</th>
      <th>SI #</th>
      <th>MIRS #</th>
      <th>Bag #</th>
      <th>Received From</th>
      <th>Issued To</th>
      <th>Creator</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td>
        <% if transaction.transaction_type == "add" %>
          <span class="positive">Add</span>
        <% elsif transaction.transaction_type == "return" %>
          <span class="positive">Return</span>
        <% else %>
          <span class="negative">Deduct</span>
        <% end %>
      </td>
      <td><%= transaction.reference_type %></td>
      <td><%= transaction.reference_number %></td>
      <td><%= transaction.transaction_date.strftime("%m/%d/%Y") if transaction.transaction_date %></td>
      <td><%= transaction.dr_number %></td>
      <td><%= transaction.si_number %></td>
      <td><%= transaction.mirs_number %></td>
      <td>
        <% transaction.finished_good_transaction_items.each do |item| %>
          <% if item.underpack %>
            Underpack Bag #0 <br/>
          <% else %>
            <%= item.lot_number %>(<%= item.start_bag_number %>-<%= item.end_bag_number %>)<br/>
          <% end %>
        <% end %>
      </td>
      <td><%= transaction.sender.name if transaction.sender %></td>
      <td><%= transaction.issued_to.name if transaction.issued_to %></td>
      <td><%= transaction.creator.name if transaction.creator %></td>
      <td><%= simple_format(transaction.comments) %></td>
      <td>
        <% if transaction.transaction_type == "sub" %>
          <%= link_to "Edit", edit_finished_good_transaction_path(transaction), :class => "edit_link" if can?(:update, FinishedGoodTransaction) %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @transactions %>
