<tr>
  <% if !@supply_transaction.new_record? %>
    <td><%= f.check_box :_destroy %></td>
  <% end %>
  <td>
    <% if @supply_transaction.new_record? %>
      <%= f.select :supply_id, Supply.active.all(:conditions => ["supply_type = ?", @supply_transaction.supply_type]).collect{|s| [s.name, s.id]}, {:include_blank => true}, {:class => "supply_select"} %>
    <% else %>
      <%= f.object.supply.name %>
    <% end %>
  </td>
  <td><%= f.text_field :quantity %></td>
  <td><%= f.text_field :unit_price %> <%= f.hidden_field :transaction_type %></td>
</tr>