<fieldset>
  <dl>
    <dd><%= f.label :pre_number, "PRE Number" %></dd>
    <dd><%= f.text_field :pre_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :rr_number, "RR Number" %></dd>
    <dd><%= f.text_field :rr_number %></dd>
  </dl>
  
  <dl>
    <dd><%= f.label :transaction_date %></dd>
    <dd><%= f.text_field :transaction_date %></dd>
  </dl>
  
  <br class="clear"/>
  
  <dl>
    <dd><%= f.label :supplier_name %></dd>
    <dd><%= f.select :supplier_name, Supplier.active_suppliers.collect{|s| [s.name, s.id]}, {:include_blank => true} %></dd>
  </dl>
  
  <% if @supply_transaction.new_record? %>
  <dl>
    <dd><%= f.label :supply_type %></dd>
    <dd>
      <%= f.select :supply_type, supply_type_options, {:include_blank => true}, {:onchange => "update_supplies()"} %>
      <%= loader %>
    </dd>
  </dl>
  <% end %>
  
  <dl>
    <dd>
      <div id="item_div">
        <table>
          <thead>
            <tr>
              <% if !@supply_transaction.new_record? %>
                <th>Delete?</th>
              <% end %>
              <th>Supply</th> 
              <th>Quantity Received</th>
              <th>Unit Price</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :supply_transaction_items do |builder| %>
              <%= render "add_item_form", :f => builder %>
            <% end %>
          </tbody>
        </table>
      </div>
    </dd>
  </dl>
  
  <dl>
    <dd><%= f.label :comments %></dd>
    <dd><%= f.text_area :comments %></dd>
  </dl>
</fieldset>

<%= javascript_tag :defer => "defer" do %>
  function update_supplies() {
    $.ajax({
      type: 'POST',
      url: '<%= update_supplies_supply_transactions_path %>',
      data: 'supply_type=' + $('#supply_transaction_supply_type').val(),
      beforeSend: function(request){$('#loader').show();},
      complete: function(request){$('#loader').hide()}
    });
  }
<% end %>