<h1>Edit Transaction</h1>

<%= render :partial => "shared/error_messages", :locals => {:target => @supply_transaction} %>

<%= form_for @supply_transaction do |f| %>
  <% if @supply_transaction.transaction_type == "add" %>
    <%= render :partial => "add_form", :locals =>{:f => f} %>
  <% else %>
    <%= render :partial => "sub_form", :locals =>{:f => f} %>
  <% end %>
  
  <p class="buttons">
    <%= submit_tag "Save" %>
    <%= button_to_function "Reset", "$(this).closest('form')[0].reset()" %>
    <%= button_to_function "Cancel", "window.location.replace('#{supplies_path}')" %>
  </p>
<% end %>

<script type="text/javascript">
  Date.format = 'mm/dd/yyyy';
  $('#supply_transaction_transaction_date').datePicker({clickInput:true, startDate:'01/01/2000'});
</script>