<h1>Suppliers</h1>

<%= form_tag "", :method => :get, :id => "search_form" do %>
  <%= text_field_tag "search_text", session[:search][:supplier_search_text] %> <%= link_to_function "Search", "$('#search_form').submit()", :class => "search_link" %>
<% end %>

<%= link_to "Add Supplier", new_supplier_path, :class => "create_link" if can?(:create, Supplier) %>

<br class="clear"/><br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @suppliers.each do |supplier| %>
    <tr class="<%= cycle("light", "dark") %>">
      <td><%= supplier.name %></td>
      <td><%= supplier.active ? "Yes" : "No" %></td>
      <td>
        <%= link_to "Edit", edit_supplier_path(supplier), :class => "edit_link" if can?(:update, Supplier) %> &nbsp;&nbsp;
        <%= link_to "Delete", supplier_path(supplier), :class => "delete_link", :method => :delete, :confirm => "Are you sure?" if can?(:delete, Supplier) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @suppliers %>