<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
  <head profile="http://gmpg.org/xfn/11">
    <title><%= @title.nil? ? "Crown Asia" : @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="imagetoolbar" content="no" />
    <%= csrf_meta_tag %>
    
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "layout" %>
    <%= stylesheet_link_tag    "datePicker" %>
    <%= javascript_include_tag "application" %>
  </head>
  
  <body id="top">
    <div class="wrapper row1">
      <div id="header" class="clear">
        <div class="fl_left">
          <h1><%= link_to "Crown Asia", "/" %></h1>
        </div>
        
        <div class="fl_right">
          <% if user_signed_in? %>
            <p>Welcome, <%= current_user.name %>. <%= link_to "Logout", destroy_user_session_path, :method => :delete  %></p>
          <% end %>
        </div>
        
        <ul id="nav">
          <% if user_signed_in? %>
            <li>
              <a href="#">MANAGE</a>
              <ul>
                <% if can?(:view, Supplier) %>
                  <li class="<%= selected_menu "suppliers" %>"><%= link_to "Suppliers", suppliers_path %></li>
                <% end %>
                <% if can?(:view, Customer) %>
                  <li class="<%= selected_menu "customers" %>"><%= link_to "Customers", customers_path %></li>
                <% end %>
                <% if can?(:view, UnitOfMeasure) %>
                  <li class="<%= selected_menu "unit_of_measures" %>"><%= link_to "UOM", unit_of_measures_path %></li>
                <% end %>
                <% if can?(:view, Department) %>
                  <li class="<%= selected_menu "departments" %>"><%= link_to "Departments", departments_path %></li>
                <% end %>
                <% if can?(:view, RawMaterialType) %>
                  <li class="<%= selected_menu "raw_material_types" %>"><%= link_to "RM Types", raw_material_types_path %></li>
                <% end %>
              </ul>
            </li>
            
            <li>
              <a href="#">USERS</a>
              <ul>
                <% if can?(:view, Role) %>
                  <li class="<%= selected_menu "roles" %>"><%= link_to "Roles", roles_path %></li>
                <% end %>
                <% if can?(:view, User) %>
                  <li class="<%= selected_menu "users" %>"><%= link_to "Users", users_path %></li>
                <% end %>
                <% if current_user.has_role?("admin") %>
                  <li class="<%= selected_menu "permissions" %>"><%= link_to "Permissions", permissions_path %></li>
                <% end %>
              </ul>
            </li>
            
            <li>
              <a href="#">FORMULA</a>
              <ul>
                <% if can?(:view, Mixer) %>
                  <li class="<%= selected_menu "mixers" %>"><%= link_to "Mixers", mixers_path %></li>
                <% end %>
                <% if can?(:view, Extruder) %>
                  <li class="<%= selected_menu "extruders" %>"><%= link_to "Extruders", extruders_path %></li>
                <% end %>
                <% if can?(:view, Formula) %>
                  <li class="<%= selected_menu "formulas" %>"><%= link_to "Formulas", formulas_path %></li>
                <% end %>
                <% if can?(:view, IssuedFormula) %>
                  <li class="<%= selected_menu "issued_formulas" %>"><%= link_to "Issued Formulas", issued_formulas_path %></li>
                <% end %>
              </ul>
            </li>
            
            <% if can?(:view, RawMaterial) %>
              <li class="<%= selected_menu "raw_materials" %>"><%= link_to "Raw Materials", raw_materials_path %></li>
            <% end %>
            
            <% if can?(:view, Supply) %>
              <li class="<%= selected_menu "supplies" %>"><%= link_to "Supplies", supplies_path %></li>
            <% end %>
            
            <% if can?(:view, FinishedGood) %>
              <li class="<%= selected_menu "finished_goods" %>"><%= link_to "Finished Goods", finished_goods_path %></li>
            <% end %>
            
            <% if can?(:view, CostingPeriod) %>
              <li class="<%= selected_menu "costing_periods" %>"><%= link_to "Costing", costing_periods_path %></li>
            <% end %>
            
            <% if can?(:view, SalesQuote) %>
              <li class="<%= selected_menu "sales_quotes" %>"><%= link_to "Sales Quote", sales_quotes_path %></li>
            <% end %>
          <% end %>
        </ul>
        <div class="clear"/>
      </div>
    </div>
    
    <!-- ####################################################################################################### -->
    <div class="wrapper row3">
      <div id="container" class="clear">
        
        <% if flash[:error] %>
          <div class="errors"><%= flash[:error] %></div>
        <% end %>
        
        <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        
        <%= yield %>
      </div>
    </div>
    
    <!-- ####################################################################################################### -->
    <div class="wrapper row4">
      <div id="footer" class="clear">
      </div>
    </div>
    
    <!-- ####################################################################################################### -->
    <div class="wrapper">
      <div id="copyright" class="clear">
        <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
        <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>
    </div>
  </body>
</html>